*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    max-width: 1320px;
    padding: 0 .5rem;
    margin:auto auto;
    padding-left: 1rem;
    padding-right: 1rem;
}
header{
        height: 150px;
        border-bottom: solid 1px rgb(176, 171, 171);
        background-color: rgb(255, 255, 255);
    }
   
#headertop{
    background-color: rgb(235, 234, 232);
    height: 30px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#supervaluedeals{
    font-size: 16px;
    font-weight: 30;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(159, 157, 154);
}

a .material-symbols-outlined{
text-decoration:none ;
list-style: none;
color: rgb(109, 245, 109);
}

#HeaderItems{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; 
}
#logo{
    height:  70px;
    padding-bottom: 1rem;
    padding-top: 5px;
}
#Logoimage{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
#nullkart{
    font-size: 30px;
    font-family: "Monoton", sans-serif;
    color: rgb(109, 245, 109);
}
#NavLinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem; 
}
#Menubutton{
    border: 0;
    background-color: white;
    color: rgb(109, 245, 109);
}
#N{
    color: black;
}
#K{
    color: black; 
}

#SearchHolder{
    width: 45%;
}

#searchbox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    background-color: white;
    width: 100%;
    border-radius: .5rem;
   
}

.SearchInput{
    padding: 0.5rem;
    outline: none;
    border: solid 1px rgb(227, 223, 223);
    width: 100%;
    border-radius: .5rem;
}

.material-symbols-outlined:hover,.material-symbols-outlined:active{
    transition: 0.3s ease-out;
    color: black;
    font-size: 200%;
    
}
#AllDep{
    background-color: rgb(18, 189, 6);
    border:0;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: rgb(249, 247, 247);
    font-weight: 600;
}

#AllDep:hover{
    transition: .3s ease-in;
    color: rgb(0, 0, 0);
}

.HeaderBottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    border-top: solid 1px rgb(239, 234, 234);
    border-bottom: solid 1px rgb(239, 234, 234);
    border-right: solid 1px rgb(239, 234, 234);
    padding-right: 12px;
    border-radius: 15px;
}
a{
    text-decoration: none;
}
#section1{
    max-width: 1000px;
    margin-left: 200px;

    
}
a .HeaderBottomLinks{
    color: black;
}
.HeaderBottomLinks:hover,.HeaderBottomLinks:active{
    transition: 0.3s ease-in;
    color: rgb(118, 184, 18);
    font-size: 125%;
}

.Product{
    padding: 1rem;
    border: 1px solid rgb(198, 193, 193);
}


.Product img{
    width: 100%;

}

.star{
    color: rgb(241, 241, 57);
    
}

.RatenAdd{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.Add{
    padding-left: .7rem;
    padding-right: .7rem;
    background-color: rgb(11, 247, 11);
    border: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 5px;
}


.productlist{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
}

#footer{
    padding-top: 1.5rem;
    background-color: rgb(89, 188, 188);
    height: 295px;
    margin-top: 45px;
}
#support{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}
#shop{
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    font-size: 20px;
}

#footerelements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h2{
    padding: 3rem 0;
    font-size: 35px;
}

.productlist:hover,.productlist:active{
    transition: 0.3s ease-in;
    font-size: larger;
    
}

